@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./assets/img/lupuloPlanta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.nav-link .active{
    color:rgb(48, 70, 48);
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(36, 46, 36);
}
.navbar-light .navbar-nav .nav-link:hover{
    color:aquamarine;
}
.carousel-item{
    height: 60vh;
    width: 100%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*.listaNavHeader{
    list-style: none;
}
.listaItem a:hover{
    color: white;
}
.listaItem{
    padding-right: 3rem;
}
.listaItem a{
    text-decoration: none;
    color: black;
}
.contieneLogo{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contieneLogo a img{
    width: 100%
}


.padreBanner{
    height: 40vh;
    
}*/
.piePagina {
    background-color: rgba(177, 239, 177, 0.792);
}
    
    