*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgba(177, 239, 177, 0.792);
} 
.contieneLogo{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contieneLogo a img{
    width: 100%
}
.listaNavHeader{
    list-style: none;
}
.listaItem{
    display: inline-block;
    padding-right: 3rem;
}
.listaItem a{
    text-decoration: none;
    color: black;
}
.padreBanner{
    height: 60vh;
    
}
    
    
    
    
    
    
    
    body {
    
    background-image: url(./assets/img/lupuloPlanta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.medioCuerpo {
    text-align: center;
    color: white;
}
.navegacion .listaNav .listaItem {

    list-style: none;/*saca la decoracion de las listas*/

    display: inline-block;/*hace que los items esten uno al lado del otro*/
    margin-left:20px;/*le da un espaciado izquierdo entre los elementos*/

}
.navegacion .listaNav .listaItem a{

    text-decoration: none;/*le saca el subrayado a los links\*/
    color: #212121;/*cambia el color de la fuente de los links\*/
    font-size: 1.5rem;/*cambia el tamaño de la fuente\*/
        
}
.variedades {
    color: aliceblue;
}
.pieDePagina {
    background-color: #009688;
}